@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&family=Poppins:wght@100;200;300;400&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #1B2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
/*
Lembrando que 100vh/100vw significa 100% de altura largura em relaçao ao view port que é o tamaho total da tela

*/
main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

h1{
    color: #8880FE;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    
}
a > img{
    width: 36px;
    text-decoration: none;
    margin-left: 3rem;
    
}
#img-logos{
    display: flex;
    align-content: center;
}
#img-special{
    margin-left: 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    display: flex;
    flex-direction: column;
}
span{
    font-size: 1.1rem;
    margin-top: 2rem;
}
section > img{
    width: 100%;
}
input{
    background-color: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    color: rgba(166,166,166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

form [type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background-color: #6C63ff;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    font-weight: bold;
}

form [type="submit"]:hover{
    background: #5952d4;
    
}

section{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50vw;
    padding: 4rem;
}
.circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    /*ACIMA A CONFIGURAÇÃO PARA OCUPAR TODA A TELA*/
    clip-path: circle(40% at right 80%);
    /*acima eu alinhei*/
    z-index: -1; 
    /* isso faz ele ficar o circulo abaixo de imagem q tem o z index maior */
}
.alternative{
    margin-top: 1rem;
}
.alternative > span{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}
.alternative > span::before{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    background: rgba(255, 255, 255, 0.3);
    right: 50px;
    bottom: 50%;
}
.alternative > span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    left: 50px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 50%;
}


@media only screen and (min-width: 900px) and (max-width: 1200px){
    section > img{
        width: 110%;
    }
    
    .circle{
        clip-path: circle(35% at right 80%);
           
    }  
}
@media only screen and (max-width: 900px) {
    .images{
        display: none;
        visibility: hidden;
    }
    main{
        width: 100vw;
    }

}

@media only screen and (max-width: 450px) {
    h1{
        font-size: 2rem;
    }
    .alternative>span{
        font-size: 0.8rem;
    }
    label > span{
        font-size: 1rem;
    }
}